{% extends "base.html" %}

{% block tabla %}

<link rel="stylesheet" href="{{ url_for('static', filename='plugins/datatables-bs4/css/dataTables.bootstrap4.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='plugins/datatables-responsive/css/responsive.bootstrap4.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='plugins/datatables-buttons/css/buttons.bootstrap4.min.css') }}">
<h2>sí se pudo Burro, sí se pudo</h2>
<!-- Main content -->
   <!-- /.card-header -->            
    <div class="card-body">
        <table id="examle2" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>descripcion</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Trident</td>
                    <td>Internet Explorer 5.0</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Trident</td>
                    <td>Internet Explorer 5.5</td>
                    <td></td>
                </tr>
            </tfoot>
        </table>
    </div>
    <!-- /.container-fluid -->
{% endblock %}

{% block mi_javscript %}

<script src="{{ url_for('static', filename='plugins/datatables/jquery.dataTables.min.js') }}"></script>
<!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/')}}"> -->
<script>
    document.addEventListener('DOMContentLoaded', function(){ 

        $('#examle2').DataTable();

     });
</script>

{% endblock %}